*{margin:0;padding:0;}

body{
	font-family:tahoma;
	background-image:url('img/bg.png');
}

#cls{clear:both;}
li{list-style-type:none;}


/*--------------------------------------------*/
.false{
	color:red;
	background:rgba(0,0,0,0.2);
	padding:10px;
	margin-top:50px;
	border-radius:10px;
	box-shadow:0 0 20px 3px #345,inset 0 0 2px 2px #fff;
	font-weight:bold;
	text-align:center;
	text-shadow:0 0 2px #000,1px 1px 0 #fff;
}
/*--------------------------------------------*/
.myown{
	width:90%;
	text-align:right;
	padding:2%;
	margin:0 auto;
	box-shadow:0 0 15px 5px #345;
}

.header{background-image:url('img/001.png');height:300px;}
.header h2{
	text-align:center;
	background:rgba(220,200,200,0.5);
	padding:10px;
	color:#fff;
	text-shadow:1px 1px 2px #000;
}

.colitems{
	margin-top:50px;
	margin-bottom:50px;
	border-bottom:1px dashed #789;
	background:rgba(200,200,200,0.5);
}

.left{float:left;width:20%;}
.left img{width:70%;vertical-align:middle;text-align:center;}
.right{float:right;width:70%;}
dl{background:#eee;padding:5px;}
dt{font-style:italic;border-top:1px dotted #345;margin-top:2px;}
dd{}
dt:first-child{border-top:none;}

.mybutt{
	margin:0 auto 5px auto;
	border:none;
	background:#af3;
	padding:5px;
	border-radius:10px;
	text-align:center;
	
}

dd a {
	float:left;
	border:none;
	background:#af3;
	padding:5px;
	border-radius:10px;
	text-align:center;
	color:#345;
	text-decoration:none;
	min-height:30px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}

.infotop a ,.info a{
	color:#345;
	background:#fa3;
	padding:8px;
	border-radius:10px;
	text-align:center;
	text-decoration:none;
	margin-top:50px;
	font-weight:bold;
	box-shadow:0 0 1px #345;
}

.info{margin-top:50px;}

.founders{
	margin-top:20px;
	box-shadow:0 0 1px #789;
	padding:5px;
	border-radius:15px;
}

.colitemx{
	background:rgba(200,200,200,0.5);
	padding:10px;
	box-shadow:inset 0 0 2px #fff;
	margin-bottom:20px;
}
.colitemx li:nth-child(2){
	margin-top:20px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	padding:10px;
	box-shadow:inset 0 0 10px 2px #fff ;
	border-radius:15px;
	text-align:center;
	font-weight:bold;
	text-shadow:0 0 1px #000;
}
.colitemx li:nth-child(3){
	margin-top:20px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	padding:10px;
	box-shadow:inset 0 0 10px 2px #fff ;
	border-radius:15px;
	text-align:center;
	font-weight:bold;
	text-shadow:0 0 1px #000;
}

/*--------------------------------------------*/

/*--------------------------------------------*/

/*--------------------------------------------*/

/*--------------------------------------------*/

/*--------------------------------------------*/

/*--------------------------------------------*/

/*--------------------------------------------*/